<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css'>
  <link rel="stylesheet" href="/css/login.css">

</head>

<body>
  <!-- partial:index.partial.html -->

  <body id="particles-js"></body>
  <div class="video-bg">
    <video width="320" height="240" autoplay loop muted>
      <source src="/video/7btrrd.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="animated bounceInDown">
    <div class="container">
      <span class="error animated tada" id="msg"></span>
      <form name="form1" action="/glass" class="box" onsubmit="return validate()">
        <h4>Admin<span>Dashboard</span></h4>
        <h5>Sign in to your account.</h5>
        <div class="">
          <input type="text" name="email" placeholder="Email" id="email" onkeyup="validate1()">
         
          <i style="color: lightgreen;" id="tick1" hidden="true"
              class="fas fa-check-circle col-sm-1"></i>
          <i style="color: red;" id="mistake1" hidden="true" class="fas fa-times col-sm-1"></i>
          <span> <label for="error1" input type="error" id="error1"></label></span>
          
      </div>
      <div class="form-group row">
        <input type="password" name="password" placeholder="Passsword" id="pwd" onkeyup="validate2()">
       
        <i style="color: lightgreen;" id="tick2" hidden="true"
        class="fas fa-check-circle col-sm-1"></i>
    <i style="color: red;" id="mistake2" hidden="true" class="fas fa-times col-sm-1"></i>
    <span> <label for="error2" input type="error" id="error2"></label></span>


    </div>
        
       
       
      
        <!-- <a href="#" class="forgetpass">Forget Password?</a> -->
        <input type="submit" value="Sign in" class="btn1">
      </form>
      <a href="/signup1" class="dnthave">Don’t have an account? Sign up</a>
    </div>
    <div class="footer">
      <span>Made with <i class="fa fa-heart pulse"></i> <a
          href="https://www.google.de/maps/place/Augsburger+Puppenkiste/@48.360357,10.903245,17z/data=!3m1!4b1!4m2!3m1!1s0x479e98006610a511:0x73ac6b9f80c4048f"><a
            href="#">Sandeep S Anand</a></span>
    </div>
  </div>
  <!-- partial -->
  <script src='https://cldup.com/S6Ptkwu_qA.js'></script>
  <script src="/js/login.js"></script>

</body>

</html>