<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KTDC-Login</title>

    <link rel="icon" href="images/pngwing.com.png" type="image/x-icon">

    <link href="/css/login.css" type="text/css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/3c2b9b6e38.js" crossorigin="anonymous"></script>
</head>

<body>


    <section class="showcase tm-container">


        <header>
            <!-- header -->
            <nav class="navbar navbar-light bg-transpaent ">
                <div class="container-fluid">

                    <a href="index.html" class="navbar-brand text-light" style="text-decoration: none;color: inherit;"
                        href="index.html">
                        <img src="images/pngwing.com.png" alt="" width="60" height="50">
                        <h6>Kerala Tourism</h6>
                    </a>

                    <form class="d-flex">
                        <a href="index.html" class="navbar-brand text-light pe-auto">
                            <h6>Home</h6>
                        </a>
                        <a href="nex.html" class="navbar-brand text-light pe-auto">
                            <h6>Districts</h6>
                        </a>

                        <a href="/signup" class="navbar-brand text-light pe-auto">
                            <h6>Signup</h6>
                        </a>



                    </form>
                </div>
            </nav>
            <!-- /header -->

        </header>
        <video src="videos/production ID 4120588 (1) (1).mp4" muted loop autoplay></video>

        <div class="overlay">

        </div>
        <!-- kdgdj -->


        <!-- Model HTML -->



        <div class="modal-dialog modal-login 4">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="avatar"><i class="material-icons">
                            &#xE7FD;
                            <img src="images/pngwing.com.png" alt="" width="60" height="50">
                        </i></div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/glass" onclick="return validate()">
                        <div class="form-group row">
                            <input type="email" class="form-control col-sm-11" onkeyup="validate1()"
                            placeholder="name" id="email">
                            <i style="color: lightgreen;" id="tick1" hidden="true"
                                class="fas fa-check-circle col-sm-1"></i>
                            <i style="color: red;" id="mistake1" hidden="true" class="fas fa-times col-sm-1"></i>
                            <span> <label for="error1" input type="error" id="error1"></label></span>
                        </div>



                        <div class="form-group row">
                            <input type="password" class="form-control col-sm-11" onkeyup="validate2()"
                            placeholder="Password" id="pwd">
                            <i style="color: lightgreen;" id="tick2" hidden="true"
                            class="fas fa-check-circle col-sm-1"></i>
                        <i style="color: red;" id="mistake2" hidden="true" class="fas fa-times col-sm-1"></i>
                        <span> <label for="error2" input type="error" id="error2"></label></span>
                    

                        </div>




                        
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">
                        </div>
                    </form>
                    <div class="hint-text small"><a href="/signup">Dont have an
                            account please Signup</a></div>
                    <div class="hint-text small"><a href="#">Forgot Your Password?</a></div>
                </div>
            </div>
        </div>



        <!-- asulksd -->



        <ul class="social">
            <li>
                <a href="https://www.facebook.com/keralatourismofficial/"><img
                        src="https://i.ibb.co/x7P24fL/facebook.png" /></a>
            </li>
            <li>
                <a href="https://twitter.com/keralatourism?lang=en"><img
                        src="https://i.ibb.co/Wnxq2Nq/twitter.png" /></a>
            </li>
            <li>
                <a href="https://www.instagram.com/accounts/login/"><img
                        src="https://i.ibb.co/ySwtH4B/instagram.png" /></a>
            </li>
        </ul>
    </section>
    <div class="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Destination</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <script src="/js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
</body>

</html>